
.terms1 {
    margin-left:10px;
    font-size: 14px;
}
.terms2 {
    margin-left:5px;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}
.terms2:hover {
    cursor:pointer;
}

mat-card-content {
    overflow:hidden !important;
    margin-bottom: 16px !important;
}
mat-card-actions {
    display:flex;
    justify-content: space-between;
}
mat-card {
    max-width: 500px;
    margin-right:0;
    margin-left:auto;
}
.kii-newsletter {
    padding:10px;
    background-image: url("/assets/kiilib/images/newsletter.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
