<footer class="footer-theme kii-footer-wrapper">
    <div *ngIf="loggedInUser.hasRoles()" class="kii-footer-admin">
            <button mat-stroked-button color="primary" [routerLink]="'/admin-menu' | localize">{{'kiilib.footer.admin' | translate}}</button>
    </div>
    <div class="newsletter-share-wrapper">
        <button class="newsletter-button" mat-button (click)="onOpenNewsLetter()"><i class="fas fa-rss-square newsletter"></i>{{'kiilib.footer.newsletter' | translate}}</button>
        <kii-share></kii-share>
    </div>
    <div class="kii-footer-content-wrapper">
      <ng-content></ng-content>
    </div>
    <div class="kii-footer-end"> 
        <div class="kii-footer-copyright-wrapper">
            <small>{{'kiilib.footer.kubiiks' | translate}} <a class="kii-footer-link" title="kubiiks" [href]="kubiiksLink" rel="follow">kubiiks</a></small>
            <small style="font-style: italic; margin-left:10px">© kubiiks 2019</small>
        </div>
        <div *ngIf="links.length>0" class="kii-footer-social-wrapper">
            <ng-container *ngFor="let social of links">
                <a *ngIf="social.link" [title]="social.name" [href]="social.link" mat-icon-button (click)="onClick(social.name)"> <i [ngClass]="social.icon"></i></a>
            </ng-container>
        </div>
    </div> 
</footer>