<footer class="footer-theme kii-footer-wrapper">
    <div class="kii-footer-content-wrapper">
      <div *ngIf="loggedInUser.hasRole('admin')" class="kii-footer-admin">
          <button mat-stroked-button color="primary" [routerLink]="'/admin-menu' | localize">{{'kiilib.footer.admin' | translate}}</button>
      </div>
      <ng-content></ng-content>
    </div>
    <div class="kii-footer-end"> 
        <div class="kii-footer-copyright-wrapper">
            <small>{{'kiilib.footer.kubiiks' | translate}} <a class="kii-footer-link" title="kubiiks" [href]="kubiiksLink" rel="follow">kubiiks</a></small>
            <small style="font-style: italic; margin-left:10px">© kubiiks 2019</small>
        </div>
        <div *ngIf="links.length>0" class="kii-footer-social-wrapper">
                <a *ngFor="let social of links" [title]="social.name" [href]="social.link" mat-icon-button (click)="onClick(social.title)"> <i [ngClass]="social.icon"></i></a>
        </div>
    </div> 
</footer>