<button mat-menu-item class="sidenav-item" [routerLink]="'/home' | localize"><i class="fas fa-home"></i>{{'menu.home' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/demo' | localize"><i class="fas fa-laptop-code"></i>{{'menu.demo' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/clients' | localize"><i class="fas fa-hands-helping"></i>{{'menu.realisations' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/prices' | localize"><i class="fas fa-dollar-sign"></i>{{'menu.price' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/blog' | localize"><i class="fas fa-blog"></i>{{'menu.blog' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/contact' | localize"><i class="fas fa-file-signature"></i>{{'menu.contact' | translate}}</button>

