@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin alert-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  kii-alerts {
    tr.mat-row {
        background-color: rgba(mat-color($primary),0.4) !important;
    }
    tr.mat-row.is-read {
        background-color: rgba(mat-color($primary),0.05) !important;
    }
  }

}
