@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin article-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);


    kii-article-detail kii-article {
        background: white;
        margin-top:20px;
        margin-bottom:20px;
        //box-shadow: 1px 1px 10px 2px;
        box-shadow: 0 0.1rem 1.2rem rgba(0,0,0,0.2);
    }


    kii-article angular-editor  .angular-editor-textarea {  
            a {
                font-weight: bold;
                text-decoration: none;
            }
            a:link {
                color: mat-color($primary);
            }
            a:hover {
                color: mat-color($primary,lighter);
            }
            a:active {
                color: mat-color($accent);
            }
            a:visited {
                color: mat-color($primary,darker);
            }
            img {
                max-width: 100% !important;
                object-fit: cover;
            }
/*            font-size:18px;
            img {
                margin:auto auto;
                display:block;
                max-width:100% !important;
                object-fit:cover;
            }
                  
            //TODO: Add all possible data h1-h6, text...    
            @media only screen and (max-width: 900px) {
                font-size: 95%;
            }
            @media only screen and (max-width: 700px) {
                font-size: 90%;
            }
            @media only screen and (max-width: 500px) {
                font-size: 85%;
            }*/
    } 

}
