/*@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin blog-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

kii-blog {*/
  //MOBILE
  .wrapper-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width:100%;
  }

  .kii-element-wrapper {
    margin-left:30px;
    margin-right:30px;
    margin-top:20px;
    margin-bottom:60px;
  }

  @media only screen and (min-width: 700px) { 
    .kii-element-wrapper {
      margin-left:40px;
      margin-right:40px;
    }
  }
/*}
} //end mixin*/
