@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin chat-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);


  $backgroundContainer:mat-color($background,card);
  $sentMessage:mat-color($primary);
  $recievedMessage:mat-color($mat-grey,200);
  $botMessage:mat-color($mat-grey,100);
  $textColor :black;
  @if ($is-dark-theme) {
    $recievedMessage:mat-color($mat-grey,200);
    $botMessage:mat-color($mat-grey,600);
    $textColor :black;
  } @else {
    $recievedMessage:mat-color($mat-grey,700);
    $botMessage:mat-color($mat-grey,400);

    $textColor: white;
  }


  kii-chat {
    .chat-message-container {
        background:$backgroundContainer;
        border:1px solid rgba(mat-color($primary),0.6);
        border-radius: 3px;
    }
    .writting-visible {
        color: mat-color($accent);
    }

    //.message-owner {
    //    color: mat-color($accent);
    //}

    .message {
        color: $textColor;
    }
    .message.i-am-reciever.is-bot {
        background:$botMessage;
    }

    .message.i-am-reciever {
        background:$recievedMessage;
    }
    
    .message.i-am-reciever:not(.is-bot):before {
        background: $recievedMessage;
      }
    .message.i-am-reciever:not(.is-bot):after {
        background: $backgroundContainer;
    }
    
    .message.i-am-sender {
        background:$sentMessage;
    }
    
    .message.i-am-sender:before {
        background: $sentMessage;
    }
      
    .message.i-am-sender:after {
        background: $backgroundContainer;
    }
  }

}