@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin contact-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);


kii-contact {
  .page-header {
    display:none;
  }
  .wrapper-content-main {
    padding-top:20px;
    padding-bottom:20px;
  }
  .chat-button-wrapper {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper-content-form {
    padding:10px;
    padding-top:30px;
    padding-bottom:30px;
    .form-container {
      min-width: 60vw;
      padding:10px;
    }
  }
  .wrapper-content-address {
    padding:10px;
    padding-top:30px;
    padding-bottom:30px;
    .contact-map-wrapper {
      padding:10px;
    }
  }

  //For desktops
  @media only screen and (min-width: 700px) { 
    .wrapper-content-main {
      display:flex;
      flex-direction: row;
      & > div.element {
        flex:1;
      }
    }
    .wrapper-content-form {
       display:flex;
       flex-direction:row;
       .form-header {
         padding-right:10vw;
       }
    }
    .wrapper-content-address {
      padding:0px;
      padding-left:10px;
      display:flex;
      flex-direction: row;
      & > div {
        flex:1;
      }
      .contact-map-wrapper {
        min-width: 60vw;
        padding:0px;
      }
      .contact-address-wrapper {
        padding-right:10vw;
      }
    }

  }

} //End contact

} //End mixin
