@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin contact-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);


kii-contact {
  .element {
    filter:grayscale(60%);  
    transition: all 0.3s ease-in-out;
    background-color:white;
    border-radius: 3px;
    margin:10px;
    .angular-editor-wrapper {
        font-size:18px !important;
    }
    @media only screen and (max-width: 900px) { 
        .angular-editor-wrapper {
            font-size:18px !important;
        }
    }
    @media only screen and (max-width: 700px) { 
        .angular-editor-wrapper {
            font: 18px !important;
        }
    }
    @media only screen and (max-width: 400px) { 
        .angular-editor-wrapper {
            font-size:16px !important;
        }
    }

    .angular-editor-textarea {
        background-position: center top !important;
        img {
            transition: all 0.3s ease-in-out;
            transform: scale(0.9);
        }
    }

    form {
        padding:5px;
    }
    kii-gmap .wrapper {
        padding:5px;
    }

  }

//Desktops
  @media (pointer: fine) {
        .element:hover {
            box-shadow: 1px 1px 2px 2px rgba(black,0.1);
            filter: none;
            .angular-editor-textarea {
                img {
                    transform: scale(1);
                }
            }
        }
  }
  //Mobile devices
  @media (pointer: coarse) {
    .element.kii-appear {
        box-shadow: 1px 1px 2px 2px rgba(black,0.1);
        filter: none;
        .angular-editor-textarea {
            img {
                transform: scale(1);
            }
        }
    }
}

} //End contact

} //End mixin
