    /////////////////////////////////////////////////////////////////////
    // REALISATIONS COMMENTS FORMAT
    /////////////////////////////////////////////////////////////////////
    ::ng-deep kii-element.realisations-comments {
        margin:0 auto;
        .kii-element-container {
            display:flex;
            flex-direction: column-reverse;
            width:280px;


            ::ng-deep kii-article-summary .kii-article-summary-container {
                padding-top:30px;
                background-image:url("/assets/images/comment.svg");
                background-repeat: no-repeat;
                background-position: left top;
                background-size: 100% auto;
                display:block;
                .title {
                    text-align: center;
                    transition: all 0.35s;
                    margin-top:20px;
                    margin-bottom:0px;
                    font-size: 16px;
                    font-weight: bold;
                    opacity: 0.7;
                }
                .description {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 200;
                    opacity: 0.5;
                    margin-top:8px;
                }
                .kii-article-summary-image-wrapper {
                    padding:2px;
                    border-radius: 50% 50%;
                    background: #fff !important;  
                    height:100px;
                    width:100px;
                    margin:0 auto;
                    img {
                      border-radius: 50% 50%;
                      width:100%;
                    }
                }
            }
            ::ng-deep kii-article .kii-editor-wrapper {
                .angular-editor-textarea {
                  min-height: 200px !important;
                  font-weight: 200;
                  background-color: #212121 !important;
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                }
            }
        }
    }