@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin fill-side-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  kii-fill-side {
    &.signup-fill  {
      .kii-fill-side-wrapper {
        background-image: url("/assets/images/page-background.svg");
        background-size: cover !important;
        background-repeat: no-repeat;
        padding-bottom:30px;
        padding-top:30px;
      }
      .kii-login-signup-content {
        padding:10px;
        background:rgba(white,0.3);
      }
    }
    &.profile-fill  {
      .kii-fill-side-wrapper {
        /*background-image: url("/assets/images/page-background.svg");
        background-size: cover !important;
        background-repeat: no-repeat;*/
        padding-bottom:30px;
        padding-top:30px;
      }
      .kii-profile-wrapper {
        padding:10px;
        background:rgba(white,1);
      }
    }


    .kii-fill-side-side kii-article {
        width: 100%;
        height:100%;
        max-width:500px;
        margin:0 auto;
        angular-editor {
        .angular-editor-wrapper {
            height:100%;
        }
        .angular-editor-textarea {
          padding-top:10vh !important;
          height:100%;
          background-position: center center !important;
          background-repeat: no-repeat;
          background-size: cover !important;
          background-clip: border-box;
        }
        }
      }      
  }

}
