@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin footer-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

    kii-footer {
        .kii-newsletter {
            background-color: #1a1a1a;
        }
        .kii-footer-link {
            text-decoration: none;
            color: mat-color(mat-palette($mat-grey,900));
            opacity: 0.8;
        }
        .kii-footer-link:hover {
            opacity:1;
        }
        .kii-footer-end {
            padding-top:80px;
            transition:padding-top 0.3s ease-in-out;
            padding-bottom:10px;
            background-image: url("/assets/images/footer.svg");
            background-repeat: no-repeat;
            background-position: left top;
            background-size: cover;
        }
        app-footer .title {
            color: mat-color(mat-palette($mat-grey,500));
        }
    } 
    @media only screen and (min-width: 550px) { 
        kii-footer .kii-footer-end {
            padding-top:100px;
        }
    }
    @media only screen and (min-width: 700px) { 
        kii-footer .kii-footer-end {
            padding-top:110px;
        }
    }
    @media only screen and (min-width: 900px) { 
        kii-footer .kii-footer-end {
            padding-top:150px;
        }
    }
    @media only screen and (min-width: 1200px) { 
        kii-footer .kii-footer-end {
            padding-top:180px;
        }
    }

}
