@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin realisations-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);




  app-realisations kii-article-summary .kii-article-summary-container {
      display:block;
      h1 {
          font-size: 30px;
      }
      h2 {
          display:none;
      }
      padding:20px;
      @include style-paper-polaroid();
      &:hover {
        cursor:pointer;
      }
  }
  app-realisations kii-article-summary {
    transition: all 0.35s;

  }
  app-realisations kii-article-summary:nth-child(even) {
    filter: grayscale(80%);
    transform: scale(0.8, 0.8) rotate(5deg);
  }
  app-realisations kii-article-summary:nth-child(odd) {
    filter: grayscale(80%);
    transform: scale(0.8, 0.8) rotate(-5deg);
  }  

  //Desktops
  @media (pointer: fine) {
    app-realisations kii-article-summary:hover {
       @include spot-paper-polaroid();
    }
  }  

  //On mobile devices we highlight when it appears
  @media (pointer:coarse) {
    app-realisations kii-article-summary.kii-appear {
      @include spot-paper-polaroid();
    }
  }

}

//Spot the polaroid paper
@mixin spot-paper-polaroid() {
    filter: none;
    transform: scale(0.9, 0.9) rotate(0deg) !important;
}


@mixin style-paper-polaroid() {
    width:300px;
    background: #fff;    
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

    & > .kii-article-summary-image-wrapper {
        width: 100%;
        height: auto;
        img {
           width:100%;
        }
    }
    h1 {
        text-align: center;
    }
}  



