
    .kii-search-wrapper {
        background-image:url("/assets/images/search-background.svg");
        background-size: 100% auto;
        background-position: bottom left;
        background-repeat: no-repeat;
        padding:10px;
        .mat-form-field-wrapper {
            padding-bottom:0px;
        }

        .search-left-content {
            background-image:url("/assets/kiilib/images/search-icon.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }

    .search-result-wrapper {
        //border:1px solid red;
        min-height: 40px;
        .found-count {font-weight: bold;}
    }
    //PAger part
    .kii-search-pager-wrapper {
        .counters-wrapper {
            min-height: 60px;
            width:100%;
            background-image:url("/assets/images/search-background.svg");
            background-size: 100% auto;
            background-position: bottom left;
            background-repeat: no-repeat;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            .total-count {display:none;}
            .current-page {
                padding-right:15px;
                font-size: 12px;
                span:first-child {
                    font-weight: bold;
                }
            }
        }
    }


