
@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin sidenav-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);



    kii-sidenav {
      .kii-sidenav-content-wrapper {
        background:mat-color($background,background);
      }
      .app-install-wrapper {
        color:white;
        transition: all 0.4s ease-in-out;
      }
      .app-install-wrapper:hover {
        color: mat-color($primary);
      }
    }


}
