@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin toolbar-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  kii-app .kii-app-toolbar {
    background-color: mat-color(mat-palette($mat-grey, 900));
    transition: background-color 0.5s ease-in-out;
    .kii-app-toolbar-icons {
        transition: opacity 0.5s ease-in-out;
    }
    //Main button
    .kii-app-toolbar-button {
      margin:0px;
    }
  }
  //Show only menu button if small screens and we have scrolled
  @media only screen and (max-width: 700px) {
    kii-app .kii-app-toolbar.kii-scrolled  {
      background-color:rgba(mat-color(mat-palette($mat-grey, 900)),0.1);
      .kii-app-toolbar-icons {
          display: none;
      }
      //Main button
      .kii-app-toolbar-button.menu-button {
        background-color: mat-color(mat-palette($mat-grey, 900));
        animation: shadow-pulse 0.8s 8;
      }
    }
  }

  @keyframes shadow-pulse
  {
    0% {
      box-shadow: 0 0 0 0px rgba(mat-color(mat-palette($mat-lime, 500)), 1);
    }
    100% {
      box-shadow: 0 0 0 15px rgba(mat-color(mat-palette($mat-lime, 500)), 0);
    }
  }


  kii-app .kii-app-toolbar-button.mat-button .mat-button-wrapper {
    display:flex;
    flex-direction: column;
    padding:5px;
    i {
      font-size: 24px;
    }
    small {
      font-size: 12px;
      line-height: 16px;
      margin:0px;
      margin-top:3px;
    }
  }


  
}
