.colors-part {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    mat-form-field {
        margin-left:30px;
        margin-right:30px;
        max-width:150px;
    }
}

h2 {
    border-bottom:1px solid;
}

.preview-button {
    margin-top:20px;
}
//Setup editor with default colors
::ng-deep angular-editor .angular-editor-textarea {
    background:white !important;
}