.colors-part {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    mat-form-field {
        margin-left:30px;
        margin-right:30px;
        max-width:150px;
    }
}

h2 {
    border-bottom:1px solid;
}

.preview-button {
    margin-top:20px;
    i {
        margin-right: 10px;
        font-size: 20px;
    }
}

.control-wrapper {
    display:flex;
    justify-content: flex-end;
    i {
        font-size: 16px;
        margin-right: 10px;
    }
}



/*::ng-deep angular-editor .angular-editor-textarea {
    padding:10px !important;
    -webkit-nbsp-mode: space;  //Important to avoid line breaks on the kii-content side
    box-sizing: border-box;
    width:100%;
    background-repeat: no-repeat; //In case background image
    background-position: 100% 100%;
    background-size: cover;
}*/