//Lift corner effect bottom-right
@mixin shadow-lifted-bottom-right() {
    position:relative;
    z-index: 1;
    &:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        right: 5px;
        left: auto;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: #777;
        box-shadow: 0 15px 5px #777;
        transform: rotate(3deg);
      }
}

//Lift corner effect on top-right but with inset style
@mixin shadow-lifted-inset-top-right() {
    position:relative;
    &:before {
        z-index: -1;
        position: absolute;
        content: "";
        right: 10px;
        left: auto;
        width: 50%;
        height:10px;
        top: -26px;
        min-width: 250px;
        max-width:300px;
        background: #777;
        box-shadow: 0 15px 10px #777;
        transform: rotate(3deg);
      }
}


@mixin shadow-lifted-bottom-left() {
    position:relative;
    &:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: #777;
        box-shadow: 0 15px 10px #777;
        transform: rotate(-3deg);
      }
}

@mixin shadow-lifted-bottom-left-right() {
    position:relative;
    &:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        right: 10px;
        left: auto;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: #777;
        box-shadow: 0 15px 10px #777;
        transform: rotate(3deg);
      }
    &:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: #777;
        box-shadow: 0 15px 10px #777;
        transform: rotate(-3deg);
    }      
}