
<kii-header [data]="{page:'contact'}"></kii-header>
<kii-spinner-overlay [show]="isLoading">

<kii-article  class="page-header" key="contact-header" kiiScroll (onAppear)="animate($event)"></kii-article>
<div class="wrapper-content" [@contactAnimation]="showAnimation" class="element" kiiScroll> 
         <div class="wrapper-content-main">
                <div  class="element">
                        <kii-article class="contact-phone-editable-content" key="contact-phone"></kii-article>
                </div>
                <div  class="element">
                        <kii-article class="contact-phone-editable-content" key="contact-time"></kii-article>
                </div>
                <div  class="element">
                        <kii-article class="contact-phone-editable-content" key="contact-chat"></kii-article>
                        <div class="chat-button-wrapper"><button mat-button *ngIf="!loggedInUser.hasRole('chat')" [disabled]="!isBrowser || offline" class="chat-button" (click)="onOpenChat()">Chat</button></div>
                </div>
         </div>
         <div class="wrapper-content-form">        
                <div class="form-header"><kii-article class="contact-phone-editable-content" key="contact-form"></kii-article></div>
                <div class="form-container default-theme">
                        <kii-contact-form></kii-contact-form>
                </div>
        </div>       
        <div class="wrapper-content-address">        
                <div class="contact-address-wrapper"><kii-article class="contact-phone-editable-content" key="contact-address"></kii-article></div>
                <div class="contact-map-wrapper"><kii-gmap style="width:100%"></kii-gmap></div>
        </div> 
</div>
<kii-article class="page-footer" key="contact-footer"></kii-article>
<kii-spinner-overlay [show]="isLoading">
