
<kii-article  class="header-first" key="contact-header"></kii-article>

<div class="wrapper">
   <div class="wrapper-content"> 
         <div class="wrapper-content-left">
                <div class="element" >
                        <kii-article class="contact-phone-editable-content" key="contact-phone"></kii-article>
                </div>

                <div class="element">
                        <kii-article class="contact-phone-editable-content" key="contact-time"></kii-article>
                </div>
                <div class="element">
                        <kii-article class="contact-phone-editable-content" key="contact-chat"></kii-article>
                </div>
         </div>
         <div class="wrapper-content-right">        
                <div class="element">
                        <kii-article class="contact-phone-editable-content" key="contact-form"></kii-article>
                        <div class="form-container default-theme">
                                <kii-contact-form (kiiOnSubmit)="onSubmit($event)"></kii-contact-form>
                        </div>
                </div>
         </div>       
   </div>  
   <div class="element">
        <kii-article class="contact-phone-editable-content" key="contact-address"></kii-article>
        <kii-gmap style="width:100%"></kii-gmap>
   </div>   
</div>
<kii-article class="contact-footer-editable-content" key="contact-footer"></kii-article>

