<div class="spinner-container width100 height100">
    <div class="spinner-row width100 height100">
      <div id="spinner-loader">
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-dot"></div>
        <div class="spinner-loading"></div>
      </div>
    </div>
  </div>