$toolbar-height : 65px;

//Avoid scroll here as it will glitch
::ng-deep mat-sidenav-content.mat-drawer-content {
    overflow: hidden;
} 

.kii-app-wrapper {
    box-sizing: border-box;
    min-width:320px;
    width:100%;
    height:100vh;
}

.kii-app-toolbar {
    position:absolute;
    width:100%;
    height:$toolbar-height;
    top:0;
    z-index: 10;
    display:flex;
    align-items: center;
    padding-left:10px;
    padding-right:20px;
    padding-top:3px;
    padding-bottom:3px;
    min-width: 320px;
}

.kii-app-toolbar-main-button {
    position:absolute;
    top:10px;
    left:5px;
    z-index: 11;
    background-image: url("/assets/kiilib/images/menu.svg");
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50% 50%;
    width:0px !important;
    height:0px !important;
    transition: all 0.2s ease-in-out;
}

//Toolbar part
.kii-app-toolbar-content {
    display:flex;
    justify-content: space-around;
    flex:1 1 auto;
}

.kii-app-toolbar-button {
    justify-content: center;
    align-items: center;
    i {
        font-size: 24px;
        line-height: 24px;
    }
}
.mat-icon-button {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width:46px;
    height:46px;
    img {
        width:22px;
        height:22px;
        object-fit: cover;
        border:1px solid;
    }
    span {
        font-size: 14px;
        font-weight: bold;
    }
    .mat-button-wrapper {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.mat-button {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: $toolbar-height;
}

.kii-app-toolbar-avatar-name {
    width:24px;
    height:24px;
    border:1px solid;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/kiilib/images/profile.svg");
    background-size: contain;
}

.kii-app-toolbar-icons {
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}
.kii-app-toolbar-button {
    display:none;
}

.kii-app-chat-button {
    right:40px;
    bottom:60px;
    position: absolute;
    z-index: 100000;
    font-size: 22px;
    background-image: url("/assets/kiilib/images/chat-icon.svg");
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.kii-app-chat-button:disabled {
    transform: scale(0);
}

.kii-app-wrapper textarea {
    resize:none
}



@media only screen and (max-width: 700px) { 
    .kii-app-toolbar-content {
        display:none;
    }
    .kii-app-toolbar {
        justify-content: flex-end;
    }
    .kii-app-toolbar-button {
        display:flex;
    }
    .kii-app-toolbar-main-button {
        width:50px !important;
        height:50px !important;
    }
}

.kii-app-toolbar-offline {
    position: absolute;
    top: calc(100vh - 100px);
    left:0;
    width:100px;
    height:100px;
    display:none;
    background-image: url("/assets/kiilib/images/offline_animated.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 8;
}
.kii-app-toolbar-offline.offline {
    display:block;
}