<mat-sidenav-container>
  <div class="kii-app-wrapper">
      <div class="kii-app-toolbar toolbar-theme">
          <a mat-ripple class="kii-app-toolbar-button menu-button" [routerLink]="'/sidenav' | localize">
              <i class="kii-app-menu-button fas fa-bars"></i>
          </a>
          <div class="kii-app-toolbar-content">
              <ng-content select="[kiiToolbarMenu]"></ng-content>
          </div>
          <div class="kii-app-toolbar-icons">
<!--              <a mat-ripple class="kii-app-toolbar-icon"><i class="fas fa-shopping-cart"></i></a>  
              <a mat-ripple class="kii-app-toolbar-icon" *ngIf="!loggedInUser.exists()" mat-ripple class="kii-app-toolbar-icon" [routerLink]="'/login' | localize">
                  <i class="fas fa-sign-in-alt"></i>
              </a>
              <a mat-ripple class="kii-app-toolbar-icon" *ngIf="loggedInUser.exists()" color="primary" [routerLink]="'/profile' | localize">
                  <i class="fas fa-user"></i><small>{{loggedInUser.firstName}}</small>
              </a>-->
              <kii-language-selector></kii-language-selector>
          </div>
      </div>
  
      <div class="kii-app-router-outlet-wrapper" >
      <router-outlet  (activate)="onActivate($event)"></router-outlet>
      </div>
      <div class="footer-theme">
              <kii-footer><app-footer></app-footer></kii-footer>
      </div>    
  </div>
  </mat-sidenav-container>