<kii-spinner-overlay [show]="isFormLoading">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate> 
      <mat-form-field [appearance]="kiiInputAppearance">
          <mat-label>{{'kiilib.input.email.label' | translate}}</mat-label>
          <input matInput formControlName="email" placeholder="{{'kiilib.input.email.placeholder' | translate}}" required type="email">
          <mat-icon matPrefix class="icon"><i class="fas fa-at"></i></mat-icon>
          <mat-hint>{{'kiilib.input.email.hint' | translate}}</mat-hint>
          <mat-error kiiInputError="email"></mat-error>    
      </mat-form-field>
      <div class="control-wrapper">
          <button mat-button type="button" color="primary" (click)="goBack()"><span><i class="fas fa-chevron-left"></i></span>{{'kiilib.back' | translate}}</button>
          <button mat-flat-button type="submit" color="primary">{{'kiilib.submit' | translate}}</button>
      </div>
    </form>
</kii-spinner-overlay>