<div class="kii-cookies-title">
    <img src="./assets/kiilib/images/cookies.svg"  alt="cookies">
    <p class="kii-cookies-title">{{'kiilib.cookies.title' | translate}}</p>
  </div>
  <p class="kii-cookies-text">{{'kiilib.cookies.subtitle' | translate}} </p>
  
  <div class="kii-cookies-buttons">
    <button mat-stroked-button (click)="reject()">{{'kiilib.decline' | translate}}</button>
    <button mat-flat-button  color="primary" (click)="accept()">{{'kiilib.accept' | translate}}</button>
  
  </div>