<kii-header [data]="{page:'demo'}"></kii-header>

<div class="page-wrapper page-demo">
<kii-spinner-overlay [show]="isLoading">
  <kii-article class="page-header" key="demo-header" kiiScroll (onAppear)="animate($event)"></kii-article>
  <div class="wrapper-content"  [@demoAnimation]="showAnimation">
      <div class="kii-element-wrapper" *ngFor="let article of articles; let i = index">
          <kii-element [ngClass]="article.cathegory" [attr.data-index]="i">
                <kii-article-summary  [key]="article.id"></kii-article-summary>  
                <kii-article  [key]="article.id"></kii-article>  
          </kii-element>
      </div>
  </div>

  <kii-article  class="page-footer" key="demo-footer"></kii-article>

</kii-spinner-overlay>
</div>