.page-demo {
    .wrapper-content {
        padding-left:10px;
        padding-right:10px;
    }

    .kii-element-wrapper {
        margin-bottom:30px;
    }

    @media only screen and (min-width: 600px) { 
        .wrapper-content {
            padding-left:30px;
            padding-right:30px;
        }

    }
}