<kii-header [data]="{page:'blog'}"></kii-header>
<div class="page-wrapper">
  <kii-spinner-overlay [show]="isLoading">
      <kii-article class="page-header" key="blog-header" kiiScroll (onAppear)="animate($event)" ></kii-article>
      <div  class="wrapper">
        <div *ngIf="showAnimation" class="wrapper-content" [@blogAnimation]="articles.length">
          <div class="element" *ngFor="let article of articles" kiiScroll>
            <kii-article-summary class="article-element"  [key]="article.id" ></kii-article-summary> 
            <div class="sharer-wrapper"><kii-share [route]="getRoute(article.id)"></kii-share></div>
          </div>
        </div>
      </div>
      <kii-article class="page-footer" key="blog-footer"></kii-article>

  </kii-spinner-overlay>
</div>