<kii-header [data]="{page:'blog'}"></kii-header>
<div class="page-wrapper">
  <kii-spinner-overlay [show]="isLoading">
      <kii-article class="page-header" key="blog-header" kiiScroll (onAppear)="animate($event)" ></kii-article>
      <div  class="wrapper">
        <kii-search [data]="articles" (result)="onSearchChanges($event)">
          <div class="wrapper-content" [@blogAnimation]="showAnimation && displayedArticles.length>0">
            <div class="kii-element-wrapper" *ngFor="let article of displayedArticles; let i = index">
                <kii-element [ngClass]="article.cathegory" [attr.data-index]="i">
                        <kii-article-summary [descriptionTrimLength]="150" [key]="article.id"></kii-article-summary>  
                        <button class="read-more-button" mat-button color="primary" [routerLink]="['/articles',article.id] | localize">{{'kiilib.readmore' | translate}}<i class="fa fa-arrow-right"></i></button>
                        <div class="sharer-wrapper"><kii-share [route]="getRoute(article.id)"></kii-share></div>
                        <div class="created-at-wrapper"><i class="fa fa-upload"></i><small class="created-at">{{{date:article.createdAt,lang:currentLang} | kiiNiceDateFormat}}</small></div>          
                </kii-element>
            </div>
          </div>
        </kii-search>
      </div>
      <kii-article class="page-footer" key="blog-footer"></kii-article>

  </kii-spinner-overlay>
</div>