<div *ngIf="getSupportedLanguages().length>1" class="wrapper">
    <button mat-button attr.aria-label="{{'kiilib.language' | translate}}" [matMenuTriggerFor]="menu" class="kii-language-selector-button" [disabled]="offline">        
        <div class="language-flag current-lang" [ngStyle]="{'background-position': getFlagPosition(currentLanguage) }"></div>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let language of getSupportedLanguages()" mat-menu-item  class="kii-language-selector-menu-item" (click)="selectLanguage(language.iso);">
            <div  class="language-flag" [ngStyle]="{'background-position': getFlagPosition(language.code) }"></div><span>{{language.name}}</span>  
      </button>
    </mat-menu>
</div>