
<mat-card class="image-gallery-dialog admin-dialog">
    <mat-card-header>
      <div mat-card-avatar><i class="far fa-image"></i></div>
      <mat-card-title>{{'kiilib.image.gallery.title' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'kiilib.image.gallery.subtitle' | translate}}</mat-card-subtitle>
      <button mat-icon-button color="primary" (click)="onClose()"><i class="fas fa-times"></i></button>
    </mat-card-header>
    <mat-card-content mat-dialog-content>
        <kii-spinner-overlay [show]="isDataLoading">
            <div class="kii-image-gallery-images" [ngClass]="{'loading':isDataLoading}">
              <div *ngFor="let image of images" class="kii-image-gallery-image-wrapper">
                <div class="image-container"><img  [src]="image"></div>
                <button mat-button color="primary" (click)="onSelect(image)">{{'kiilib.image.gallery.select' | translate}}</button>
              </div>
            </div>
            <kii-item-form *ngIf="hasAltText" [hasCancelSave]="false" hint="kiilib.input.image.alt.hint" label="kiilib.input.image.alt.label" placeholder="kiilib.input.image.alt.placeholder" icon="fas fa-paragraph" [validators]="validator" (kiiOnSubmit)="onYouTube($event)"></kii-item-form>

            <kii-image-upload [storage]="disk" [crop]="false" [maxSize]="maxSize" (onUpload)="onUploadImage($event)"></kii-image-upload>      
        </kii-spinner-overlay>
    </mat-card-content>
</mat-card>