//MOBILE

.realisations-wrapper .content-wrapper-clients {
  margin:0 auto;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:20px;
  margin-bottom:20px;
}
.element {
  max-width: 350px;
}

//DESKTOP
@media only screen and (min-width: 600px) { 
  .element {
    max-width: 280px;
  }
  .page-wrapper {
    background-image: url("/assets/images/clients-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:60%;
    background-position-y: top;
  }
  .realisations-wrapper .content-wrapper-clients {
     margin-top:10vh;
     margin-bottom:10vh;

  }
}


//STYLE COMMENTS NOW

.comments-wrapper-container {
  padding-top:15px;
  padding-bottom:15px;
}
.realisations-wrapper .content-wrapper-comments {
  .element-comment {
    margin:0 auto;
    width:100%;
    max-width: 90vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .element-comment:nth-child(odd) {
     flex-direction: column;
  }
  .element-comment:nth-child(even) {
    flex-direction: column;
    ::ng-deep kii-article .kii-editor-wrapper {
      border-left: 2px solid #cddc39;
      border-right: none;
    }
  }
  ::ng-deep kii-article-summary .kii-article-summary-container {
    display:block;
    h1 {
        text-align: center;
        transition: all 0.35s;
        margin-top:20px;
        margin-bottom:0px;
        font-size: 18px;
        font-weight: bold;
        opacity: 0.9;
    }
    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 200;
        opacity: 0.7;
        margin-top:8px;
    }
    width:200px;
    .kii-article-summary-image-wrapper {
      padding:2px;
      border-radius: 50% 50%;
      background: #fff !important;  
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
      height:150px;
      width:150px;
      margin:0 auto;
      img {
        border-radius: 50% 50%;
        width:100%;
      }
    }
  }
  .element-comment:nth-child(odd) {
    ::ng-deep kii-article .kii-editor-wrapper {
      border-left: 2px solid #cddc39;
      border-right: none;
    }
  }
  .element-comment:nth-child(even) {
    ::ng-deep kii-article .kii-editor-wrapper {
      border-left: 2px solid #cddc39;
      border-right: none;
    }
  }
  ::ng-deep kii-article .kii-editor-wrapper {
    .angular-editor-textarea {
      font-family: "Mansalva";
      font-weight: 200;
      color: #616161 !important;
    }
    margin-top:0px;
    margin-bottom:20px;
    max-width: 100%;
    /*max-width: 80%;
    margin:0 auto;
    margin-top:50px;*/
  }
}
//DESKTOPS
@media only screen and (min-width: 600px) { 
  .comments-wrapper-container {
    background:rgba(#eeeeee,0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .realisations-wrapper .content-wrapper-comments {
    .element-comment {
      justify-content: space-between;
      align-items: flex-start;
      margin:0 auto;
      width:90%;
      max-width: 900px;
      margin-bottom:25px;
    }
    .element-comment:nth-child(odd) {
      flex-direction: row;
   }
   .element-comment:nth-child(even) {
     flex-direction: row-reverse;
     ::ng-deep kii-article .kii-editor-wrapper {
      border-left: none;
      border-right: 2px solid #cddc39;
    }
   }
  }

}

/*
//Style comments

.realisations-wrapper .content-wrapper-comments {
  .element-comment {
    margin:0 auto;
    width:100%;
    max-width: 900px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .element-comment:nth-child(odd) {
     flex-direction: row;
  }
  .element-comment:nth-child(even) {
    flex-direction: row-reverse;
  }
  ::ng-deep kii-article-summary .kii-article-summary-container {
    display:block;
    h1 {
        text-align: center;
        transition: all 0.35s;
        margin-top:20px;
        margin-bottom:0px;
        font-size: 18px;
        font-weight: bold;
        opacity: 0.9;
    }
    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 200;
        opacity: 0.7;
        margin-top:8px;
    }
    width:200px;
    .kii-article-summary-image-wrapper {
      padding:2px;
      border-radius: 50% 50%;
      background: #fff !important;  
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
      height:150px;
      width:150px;
      margin:0 auto;
      img {
        border-radius: 50% 50%;
        width:100%;
      }
    }
  }
  .element-comment:nth-child(odd) {
    ::ng-deep kii-article .kii-editor-wrapper {
      border-left: 2px solid #cddc39;
    }
  }
  .element-comment:nth-child(even) {
    ::ng-deep kii-article .kii-editor-wrapper {
      border-right: 2px solid #cddc39;
    }
  }
  ::ng-deep kii-article .kii-editor-wrapper {
    .angular-editor-textarea {
      font-family: "Mansalva";
      font-weight: 200;
      color: #616161 !important;
    }

    max-width: 80%;
    margin:0 auto;
    margin-top:50px;
  }
  @media only screen and (max-width: 700px) {
    .element-comment {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 90vw;
    }
    .element-comment:nth-child(odd) {
      flex-direction: column;
    }
    .element-comment:nth-child(even) {
      flex-direction: column;
      ::ng-deep kii-article .kii-editor-wrapper {
        border-left: 2px solid #cddc39;
        border-right: none;
      }
    }
    ::ng-deep kii-article .kii-editor-wrapper {
      margin-top:0px;
      margin-bottom:20px;
      max-width: 100%;
    }
  }

}
*/
