<kii-header [data]="{page:'realisations'}"></kii-header>

<div class="page-wrapper realisations-wrapper">
<kii-spinner-overlay [show]="isLoading">
    <div class="wrapper">
      <kii-article class="page-header" key="realisations-header" kiiScroll (onAppear)="animateClients($event)"></kii-article>    
      <div  class="content-wrapper-clients" [@realisationsAnimation]="showAnimationClients && articlesClients.length>0">
        <div class="wrapper-summary element" *ngFor="let article of articlesClients" kiiScroll >
          <kii-article-summary [descriptionTrimLength]="100" class="realisations-summary" [key]="article.id" kiiScroll></kii-article-summary> 
          <button class="read-more-button" mat-button color="primary" [routerLink]="['/articles',article.id] | localize">{{'kiilib.readmore' | translate}}<i class="fa fa-arrow-right"></i></button>
        </div> 
      </div>
      <div class="comments-wrapper-container main-alternate-theme">
        <kii-article class="page-intermediate" key="realisations-intermediate" kiiScroll (onAppear)="animateComments($event)"></kii-article>
        <div  class="content-wrapper-comments" [@realisationsAnimation]="showAnimationComments && articlesComments.length>0">
          <div *ngFor="let article of articlesComments" class="element-comment" kiiScroll>
            <kii-article-summary class="realisations-comments-summary"  [key]="article.id" ></kii-article-summary>  
            <kii-article class="realisations-comments-article" [key]="article.id"></kii-article>  
          </div>
        </div>
      </div>
    </div>
    <kii-article class="page-footer" key="realisations-footer"></kii-article>
</kii-spinner-overlay>
</div>