<kii-header [data]="{page:'realisations'}"></kii-header>

<div class="page-wrapper realisations-wrapper">
<kii-spinner-overlay [show]="isLoading">
    <div class="wrapper">
      <kii-article class="page-header" key="realisations-header" kiiScroll (onAppear)="animateClients($event)"></kii-article>    
      <div *ngIf="showAnimationClients" class="content-wrapper-clients" [@realisationsAnimation]="articlesClients.length">
        <kii-article-summary class="realisations-summary" *ngFor="let article of articlesClients" [key]="article.id" kiiScroll></kii-article-summary>  
      </div>
      <kii-article class="page-intermediate" key="realisations-intermediate" kiiScroll (onAppear)="animateComments($event)"></kii-article>
      <div *ngIf="showAnimationComments" class="content-wrapper-comments" [@realisationsAnimation]="articlesComments.length">
        <div *ngFor="let article of articlesComments" class="element-comment" kiiScroll>
          <kii-article-summary class="realisations-comments-summary"  [key]="article.id" [hasRouterLink]="false"></kii-article-summary>  
          <kii-article class="realisations-comments-article" [key]="article.id"></kii-article>  
        </div>
      </div>
    </div>
    <kii-article class="page-footer" key="realisations-footer"></kii-article>
</kii-spinner-overlay>
</div>