.wrapper {
    padding:20px;
    width:100%;
    min-height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    h1 {
        margin-bottom:0px;
    }
}
.content-container {
    margin:40px;
    flex:1 1 auto;
    max-width: 50vw;

    /*.content-article {
        max-width: 50vw;
    }*/
 /*   svg {
        max-height: 60vh;
    }*/
}

.side-container {
    display:flex;
    flex-direction: column;
    flex:1 1 auto;
    justify-content: center;
    align-items: flex-start;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
    }
    .content-container {
        min-width:150px;
        max-width: 150px;
        min-height: 150px;
        max-height: 150px;
    }
    .side-container {
        justify-content: flex-start;
    }
}