<div class="admin-theme stats-wrapper">  
  <h1>{{'kiilib.stats.title' | translate}}</h1>


  <div class="stats-settings">
    <p>{{'kiilib.stats.days' | translate}}</p>
    <mat-slider style="width:100%" [(value)]="days" thumbLabel tickInterval="1" min="1" max="365" (change)="onDaysSliderChange($event)"></mat-slider>
  </div>
  <p class="stats-current"><i class="fas fa-calendar-day" [matBadge]="days" style="margin-right:20px"></i> {{'kiilib.stats.current' | translate}}</p>
  <kii-spinner-overlay [show]="isDataLoading">
    <div class="stats-indicators-wrapper" [ngClass]="{'loading' : isDataLoading == true}">
      <div class="stats-indicators-bucket">
      <kii-stats-indicator [size]="2" [value]="result.visits_count.current" [prev_value]="result.visits_count.previous" [text]="'kiilib.stats.metric.visits' | translate"></kii-stats-indicator>
      </div>
      <div  class="stats-indicators-bucket">
        <kii-stats-indicator value_suffix="s" [value]="result.visits_duration.current" [prev_value]="result.visits_duration.previous"  [text]="'kiilib.stats.metric.visitsduration' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.pages' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.pagespersession' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.pagesduration' | translate"></kii-stats-indicator>
      </div>
      <div  class="stats-indicators-bucket">
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.socialclicks' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.chatclicks' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.chatduration' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.chatduration' | translate"></kii-stats-indicator>
      </div>
    </div>
    <div class="stats-charts-visits">
      <div class="chart-wrapper">
        <p class="chart-title">Visits over time</p>
        <p class="chart-subtitle">Shows unique visits per day</p>
        <google-chart  [dynamicResize]="true"  style="width:100%;height:400px"  type="LineChart" [data]="result.visits_over_day"  [options]="visitsOverTimeOptions"></google-chart>
      </div>
      <div class="chart-wrapper">
        <div class="chart-titile-with-input">
          <div>
          <p class="chart-title">Visiting times</p>
          <p class="chart-subtitle">Shows hours and days of visits</p>
          </div>
          <div>          
            <mat-form-field>
              <mat-label>Jour</mat-label>
              <mat-select [(value)]="dayOfWeek" placeholder="Hello !">
                <mat-option value="7"><span style="font-weight:bold">Tous</span></mat-option>
                <mat-option value="1">Lundi</mat-option>
                <mat-option value="2">Mardi</mat-option>
                <mat-option value="3">Mercredi</mat-option>
                <mat-option value="4">Jeudi</mat-option>
                <mat-option value="5">Vendredi</mat-option>
                <mat-option value="6">Samedi</mat-option>
                <mat-option value="0">Dimanche</mat-option>
              </mat-select>
            </mat-form-field></div>
        </div>
        <google-chart [dynamicResize]="true"  style="width:100%;height:400px"  type="ColumnChart" [data]="result.visits_hours_histogram[dayOfWeek]"  [options]="histoHoursVisitsOptions"></google-chart>
      </div>
    </div>

    <div class="chart-wrapper">
        <p class="chart-title">Sources du traffic</p>
        <p class="chart-subtitle">Sites refererents</p>
        <google-chart  [dynamicResize]="true"  style="width:100%;height:400px"  type="ColumnChart" [data]="result.referrals_histogram"  [options]="referralsOptions"></google-chart>
    </div>
    <div class="chart-wrapper">
        <div class="chart-titile-with-input">
            <div>
            <p class="chart-title">Pages visités</p>
            <p class="chart-subtitle">Histogram des pages visités</p>
            </div>
            <div>          
                <mat-form-field style="width:80%;max-width:200px;align-self: flex-end">
                    <mat-label>Language</mat-label>
                    <mat-select [(value)]="language" placeholder="Hello !">
                      <mat-option *ngFor="let lang of languagesAvailable" [value]="lang.iso">{{lang.iso}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
          </div>
        <google-chart *ngIf="result.pages_visited_histogram[language]" [dynamicResize]="true"  style="width:100%;height:400px"  type="ColumnChart" [data]="result.pages_visited_histogram[language]"  [options]="referralsOptions"></google-chart>
    </div>

    <div class="chart-wrapper">
        <p class="chart-title">Languages</p>
        <p class="chart-subtitle">Languages used on pages</p>
        <google-chart  [dynamicResize]="true"  style="width:100%;height:400px"  type="PieChart" [data]="result.languages"  [options]="languagesOptions"></google-chart>
    </div>

  </kii-spinner-overlay>


  <!--"kiilib.stats.metric.visits"        : "Visites uniques",
  "kiilib.stats.metric.visitsduration": "Moyenne de durée d'une visite",
  "kiilib.stats.metric.pages"         : "Total de pages consultés par visite",
  "kiilib.stats.metric.pagespersession" : "Moyenne de pages consultés par visite",
  "kiilib.stats.metric.pagesduration" : "Moyenne durée consultation des pages",
  "kiilib.stats.metric.socialclicks"  : "Total clicks vers reseaux sociaux",
  "kiilib.stats.metric.chatclicks"    : "Total clicks vers chat",
  "kiilib.stats.metric.chatduration"  : "Durée moyenne du chat",-->

</div>
