<div class="admin-theme stats-wrapper">  
  <h1>{{'kiilib.stats.title' | translate}}</h1>


  <div class="stats-settings">
    <p>{{'kiilib.stats.days' | translate}}</p>
    <mat-slider style="width:100%" thumbLabel tickInterval="1" min="1" max="365" (change)="onDaysSliderChange($event)"></mat-slider>
  </div>
  <p class="stats-current"><i class="fas fa-calendar-day" [matBadge]="days" style="margin-right:20px"></i> {{'kiilib.stats.current' | translate}}</p>
  <kii-spinner-overlay [show]="isDataLoading">
    <div class="stats-indicators-wrapper" [ngClass]="{'loading' : isDataLoading == true}">
      <div class="stats-indicators-bucket">
      <kii-stats-indicator [size]="2" [value]="result.visits_count.current" [prev_value]="result.visits_count.previous" [text]="'kiilib.stats.metric.visits' | translate"></kii-stats-indicator>
      </div>
      <div  class="stats-indicators-bucket">
        <kii-stats-indicator value_suffix="s" [value]="result.visits_duration.current" [prev_value]="result.visits_duration.previous"  [text]="'kiilib.stats.metric.visitsduration' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.pages' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.pagespersession' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.pagesduration' | translate"></kii-stats-indicator>
      </div>
      <div  class="stats-indicators-bucket">
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.socialclicks' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.chatclicks' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.chatduration' | translate"></kii-stats-indicator>
        <kii-stats-indicator [value]="8000" [prev_value]="90000"  [text]="'kiilib.stats.metric.chatduration' | translate"></kii-stats-indicator>
      </div>
    </div>
    <div class="chart-wrapper">
        <p class="chart-title">Visits over time</p>
        <p class="chart-subtitle">Shows unique visits per day</p>
        <google-chart  [dynamicResize]="true"  style="width:100%;height:400px"  type="BubbleChart" [data]="testData" [options]="histoHoursVisitsOptions"></google-chart>
      </div>
    <div class="stats-charts-visits">
      <div class="chart-wrapper">
        <p class="chart-title">Visits over time</p>
        <p class="chart-subtitle">Shows unique visits per day</p>
        <google-chart  [dynamicResize]="true"  style="width:100%;height:400px"  type="LineChart" [data]="result.visits_over_day" [columnNames]="['time','count']" [options]="visitsOverTimeOptions"></google-chart>
      </div>
      <div class="chart-wrapper">
          <p class="chart-title">Visiting times</p>
          <p class="chart-subtitle">Shows hours and days of visits</p>
          <google-chart [dynamicResize]="true"  style="width:100%;height:400px"  type="ColumnChart" [data]="result.visits_hours_histogram" [columnNames]="['time','count']" [options]="histoHoursVisitsOptions"></google-chart>
      </div>
    </div>
  </kii-spinner-overlay>


  <!--"kiilib.stats.metric.visits"        : "Visites uniques",
  "kiilib.stats.metric.visitsduration": "Moyenne de durée d'une visite",
  "kiilib.stats.metric.pages"         : "Total de pages consultés par visite",
  "kiilib.stats.metric.pagespersession" : "Moyenne de pages consultés par visite",
  "kiilib.stats.metric.pagesduration" : "Moyenne durée consultation des pages",
  "kiilib.stats.metric.socialclicks"  : "Total clicks vers reseaux sociaux",
  "kiilib.stats.metric.chatclicks"    : "Total clicks vers chat",
  "kiilib.stats.metric.chatduration"  : "Durée moyenne du chat",-->

</div>
