.stats-wrapper {
    padding:10px;
    min-height: 80vh;
}

.stats-settings {
    max-width: 500px;
    width:100%;
}

.stats-indicators-wrapper {
    width:100%;
    margin:0 auto;
    max-width: 950px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    div {
        display:flex;
        max-width: 300px;
        min-width: 300px;
        flex-wrap: wrap;
    }
}
.stats-indicators-wrapper.loading {
    opacity:0.4;
}
.stats-current {
    font-style: italic;
    opacity: 0.6;
}

.stats-histo-hours-chart-wrapper {
    min-height: 400px;
    width:100%;

    border:1px solid yellow;
}
.stats-histo-hours-chart {
    border:1px solid green;
}