<kii-app>
    <ng-container kiiToolbarMenu>
        <a mat-button [ngClass]="{'is-active' : currentPath=='home'}" class="kii-kat-button" title="{{'kiilib.link.title.home' | translate}}" [routerLink]="'/home' | localize">
            <small>{{'menu.home' | translate}}</small>
            <div class="highlight-menu"></div>
        </a>
        <a mat-button [ngClass]="{'is-active' : currentPath=='demo'}" class="kii-kat-button" title="{{'link.title.demo' | translate}}" [routerLink]="'/demo' | localize">
          <small>{{'menu.demo' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>
        <a mat-button [ngClass]="{'is-active' : currentPath=='clients'}" class="kii-kat-button" title="{{'link.title.realisations' | translate}}" [routerLink]="'/clients' | localize">
          <small>{{'menu.realisations' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>
        <a mat-button [ngClass]="{'is-active' : currentPath=='prices'}" class="kii-kat-button" title="{{'link.title.price' | translate}}" [routerLink]="'/prices' | localize">
          <small>{{'menu.price' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>
        <a mat-button [ngClass]="{'is-active' : currentPath=='blog'}" class="kii-kat-button" title="{{'link.title.blog' | translate}}" [routerLink]="'/blog' | localize">
          <small>{{'menu.blog' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>       
        <a mat-button [ngClass]="{'is-active' : currentPath=='contact'}" class="kii-kat-button" title="{{'kiilib.link.title.contact' | translate}}" [routerLink]="'/contact' | localize">
          <small>{{'menu.contact' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>                          
    </ng-container>
</kii-app>
