<kii-app>
    <ng-container kiiToolbarMenu>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/home' | localize">
            <i class="icon fas fa-home"></i>
            <small>{{'menu.home' | translate}}</small>
        </a>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/demo' | localize">
          <i class="icon fas fa-laptop-code"></i>
          <small>{{'menu.demo' | translate}}</small>
        </a>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/clients' | localize">
          <i class="icon fas fa-hands-helping"></i>
          <small>{{'menu.realisations' | translate}}</small>
        </a>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/prices' | localize">
          <i class="icon fas fa-dollar-sign"></i>
          <small>{{'menu.price' | translate}}</small>
        </a>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/blog' | localize">
          <i class="fas fa-blog"></i>
          <small>{{'menu.blog' | translate}}</small>
        </a>       
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/contact' | localize">
          <i class="fas fa-file-signature"></i>
          <small>{{'menu.contact' | translate}}</small>
        </a>                     
    </ng-container>
</kii-app>
