<kii-app>
    <ng-container kiiToolbarMenu>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/home' | localize">
            <small>{{'menu.home' | translate}}</small>
            <div class="highlight-menu"></div>
        </a>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/demo' | localize">
          <small>{{'menu.demo' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/clients' | localize">
          <small>{{'menu.realisations' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/prices' | localize">
          <small>{{'menu.price' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/blog' | localize">
          <small>{{'menu.blog' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>       
        <a mat-button class="kii-app-toolbar-button" [routerLink]="'/contact' | localize">
          <small>{{'menu.contact' | translate}}</small>
          <div class="highlight-menu"></div>
        </a>                          
    </ng-container>
</kii-app>
