<div class="chat-card">
    <div class="chat-header">
      <mat-card-title><i class="fas fa-user-friends" style="margin-right:25px;" [matBadge]="room.participants" matBadgeOverlap="true"></i>{{'kiilib.chat.title' |translate}}</mat-card-title>
      <mat-card-subtitle>{{'kiilib.chat.subtitle' | translate}}</mat-card-subtitle>
    </div>
    <div class="admin-wrapper">
        <div *ngFor="let admin of admins" class="admin-user" [ngClass]="{'is-connected': admin.connected}">
                <img mat-card-avatar class="avatar" [src]="getAvatar(admin.avatar)">
                <small>{{admin.firstName}}</small>
        </div>   
    </div>
    <div class="chat-message-container" #content  [scrollTop]="content.scrollHeight"> 
      <div *ngFor="let message of messages" >
          <div class="message" [ngClass]="{'i-am-sender' : iAmSender(message), 'i-am-reciever': !iAmSender(message), 'is-bot': isBot(message)}">
             <div class="message-owner">{{getMessageOwner(message)}}</div>
             <div class="message-content">{{message.message}}</div>
             <div class="message-date"><span>{{message.date | date:'HH:mm'}}</span></div>
          </div>
      </div>
    </div>
    <div class="writting-part" ><span *ngIf="writting" class="writting-visible"><i class="fas fa-feather-alt"></i>{{'kiilib.chat.writting' | translate}}</span></div>
    <mat-card-actions>
        <form [formGroup]="myForm" novalidate> 
            <mat-form-field [appearance]="kiiInputAppearance">
                <textarea #control matInput formControlName="newMessage" rows="2" placeholder="{{'kiilib.input.message.placeholder' | translate}}" type="text"></textarea>
                <mat-hint>{{'kiilib.input.message.hint' | translate}}</mat-hint>
            </mat-form-field>        
            <div class="kii-button-wrapper">
                  <button  mat-mini-fab  color="primary" type="button" (click)="onSubmit()"><i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </mat-card-actions>
</div>

