
mat-card-content {
    border-bottom:1px solid;
    margin-bottom:0px;
    height: 100vh;
}

form {
    width:100%;
}

::ng-deep mat-form-field {
    .mat-form-field-flex {
        padding-top:0px !important;
    }
}
.dialog-actions {
    padding-left:10px;
    padding-right:10px;
}

.admin-wrapper {
    display:none;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom:5px;
}

.admin-user {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:15px;
    margin-left:15px;
    opacity:0.8;
    .avatar {
        border-radius: 50%;
        width:30px;
        height:30px;
        margin:5px;
        margin-bottom:2px;
    }
    small {
        font-size: 12px;
    }
}
.admin-user.is-connected {
    opacity:1;
    small {
        color:green;
    }
}

.message {
    font-size: 12px;
    max-width:70%;
    margin-top:5px;
}
.message.i-am-sender {
    margin-left:auto;
    margin-right:0;
    padding:10px;
    padding-right:30px;
    background-image: url("/assets/kiilib/images/comment-chat-right.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.message.i-am-reciever:not(.is-bot) {
    margin-left:0;
    margin-right:auto;
    padding:10px;
    padding-left:30px;
    background-image: url("/assets/kiilib/images/comment-chat-left.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.message.i-am-reciever.is-bot {
    margin:0 auto;
    display:flex;
    padding:10px;
    font-size: 12px;
    background-image: url("/assets/kiilib/images/comment-chat-bot.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.message-content {
    width:100%;
    max-width: 100%;
    word-break: break-all;
    display:inline-block;
}

.bot-image {
    margin-left: 20px;
    margin-right:20px;
    width:40px;
    height:40px;
    background-image: url("/assets/kiilib/images/bot.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}





.message-date {
    font-size: 12px;
    padding-right: 10px;
    opacity: 0.7;
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}  

.message-owner {
    font-weight:bold;
    font-size: 12px;
}

form {
    display:flex;
    justify-content: center;
    align-items: center;
}
.kii-button-wrapper {
    margin-left:20px;
}

.writting-part {
    padding-left:10px;
    height:20px;
    margin-bottom:5px;
}
.writting-visible {
    font-size: 12px;
    opacity:0.8;
    font-weight: bold;
    font-style: italic;
    i {
        margin-right:5px;
    }
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .writting-visible {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
  }

  @import '../../../../../themes/kubiiks/chat.scss';