<mat-card class="chat-card">
    <mat-card-header>
      <mat-card-title>Chat</mat-card-title>
      <mat-card-subtitle>{{room.id}}</mat-card-subtitle>
    </mat-card-header>
    <div class="admin-wrapper">
        <div *ngFor="let admin of admins" class="admin-user" [ngClass]="{'is-connected': admin.connected}">
                <img mat-card-avatar class="avatar" [src]="getAvatar(admin.avatar)">
                <small>{{admin.firstName}}</small>
        </div>   
    </div>
    <mat-card-content #content> 
      <div *ngFor="let message of messages">
          <div class="message" [ngClass]="{'i-am-sender' : iAmSender(message), 'i-am-reciever': !iAmSender(message), 'is-bot': isBot(message)}">
             <div class="message-content">{{message.message}}</div>
             <div class="message-date">{{message.date | date:'HH:mm'}}</div>
          </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <form [formGroup]="myForm" novalidate> 
            <mat-form-field [appearance]="kiiInputAppearance">
                <textarea #control matInput formControlName="newMessage" rows="2" placeholder="{{'kiilib.input.message.placeholder' | translate}}" type="text"></textarea>
                <mat-hint>{{'kiilib.input.message.hint' | translate}}</mat-hint>
            </mat-form-field>        
            <div class="kii-button-wrapper">
                  <button  mat-mini-fab  color="primary" type="button" (click)="onSubmit()"><i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </mat-card-actions>
</mat-card>

