<div class="kii-sidenav-content-wrapper">
    <div class="kii-sidenav-button-wrapper">
        <button mat-icon-button (click)="onClose()"><i style="font-size:25px" class="fas fa-times"></i></button>
    </div>
    <div class="kii-sidenav-app-wrapper">
        <app-sidenav></app-sidenav>
    </div>
    <!--<div *ngIf="showApp" class="app-install-container">-->
    <div class="kii-sidenav-bottom-container">   
        <div *ngIf="showApp" class="app-install-wrapper" mat-ripple (click)="installApp()">
            <div class="app-install-icon-wrapper" >
            </div>
            <div class="app-install-text">{{'kiilib.pwa.install.title' | translate}}</div>
        </div>
        <div *ngIf="!showApp" class="app-logo-wrapper">
                <div class="app-logo-icon-wrapper" ></div>
        </div>        
    </div>
</div>
