$anim-duration : 0.4s;
:host {
    position: absolute;
    box-sizing: border-box;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;
    z-index: 12;
}

.kii-sidenav-content-wrapper {
    padding:20px;
    overflow-y: auto;
    box-sizing: border-box;
    display: block;
    opacity:1;
    width:0;
    height:100%;
    animation:slidein $anim-duration forwards ease-in-out;
}
@keyframes slidein {
    from {width:0;}
    to {width:100%;}
}

.kii-sidenav-button-wrapper {
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom:10px;
}
.app-install-container {
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.app-install-wrapper {
    margin:0 auto;
    max-width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
        font-size: 50px;
    }
    .app-install-text {
        font-size: 14px;
    }

    .app-install-icon-wrapper {
        width:80px;
        height:80px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
.app-install-wrapper:hover {
    cursor:pointer;
}
