.kii-confirm-dialog-container {
    display:flex;
    justify-content: center;
    align-items: center;
    h2 {
        border-bottom:1px solid;
        margin-bottom:0px;
    }
}

.kii-confirm-dialog-container i {
    margin:10px;
    font-size: 60px;
}
mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    .kii-confirm-dialog-text-container {
        font-size: 80%;
    }

}