
//class padding-border is the one for padding like home-features
.padding-border {
    padding-left:10px;
    padding-right:10px;
}

//STYLE TOP PART
.home-feature-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.home-feature-wrapper .kii-element-wrapper {
    //flex:1 1 auto;
    width:100%;
    min-width: 300px;
    max-width: 650px;

}
.home-feature-wrapper:nth-child(even) .kii-element-wrapper {
    align-self: flex-start;

}
.home-feature-wrapper:nth-child(odd) .kii-element-wrapper {
    align-self: flex-end;

}
.home-feature-wrapper:nth-child(even) {
    padding-top:30px;
    padding-bottom:30px;
}
.home-feature-wrapper:nth-child(odd) {
    padding-top:80px;
    padding-bottom:40px;
    background-image:url("/assets/images/home/top-element-background.svg");
    background-position: left bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
}


@media only screen and (min-width: 700px) { 
    .padding-border {
        padding-left:40px;
        padding-right:40px;
    }
}

@media only screen and (min-width: 900px) { 
    .padding-border {
        padding-left:80px;
        padding-right:80px;
    }
}

//STYLE MIDDLE MENU
.home-middle-menu-wrapper {
  width:100%;
  min-height: 100px;
  border:1px solid red;
}

.home-middle-menu-content {
  width:100%;
  min-height: 100px;
  border:1px solid blue;
}

//STYLE COMMENTS
.content-wrapper-comments {
    display:none;
    margin:0 auto;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:20px;
    padding-bottom:20px;
    .kii-element-wrapper {
      margin:20px;
      transform:scale(0.9);
    }
  }
.comments-wrapper-container {
    padding-top:15px;
    padding-bottom:0px;
    .kii-element-wrapper {
      width:100%;
      padding:5px;
      margin-bottom:20px;
      box-sizing: border-box;
      display:flex;
    }
    .kii-element-wrapper:first-child {
      padding-left:10px;
    }
    .kii-element-wrapper:last-child {
      padding-right:10px;
    }
    .content-wrapper-comments {
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width:100%;
      overflow-x: auto;
      overflow-y:hidden;
      ::-webkit-scrollbar {
        display: none !important;
      }
    }
  }
  @media only screen and (min-width: 500px) { 
    .comments-wrapper-container {
      .kii-element-wrapper {
        padding:20px;
      }
      .kii-element-wrapper:first-child {
        padding-left:30px;
      }
      .kii-element-wrapper:last-child {
        padding-right:30px;
      }
    }
  }