:host {
    overflow: hidden;
}


.wrapper {
    min-height: 10vw;
}
/*
.test {
    position: absolute;
    z-index: 1;
    background-image: url('/assets/images/holidays.jpg');
    height:40vh;
    width:100%;
}*/