
<kii-header [data]="{page:'home'}"></kii-header>
<div class="wrapper">

    <div class="home-top-container">
        <div class="home-element site-and-app">
            <div class="home-element-image" kiiScroll></div>
            <div class="home-element-text">
                <div class="home-element-text-container">
                    <div class="home-element-icon" kiiScroll></div>
                    <h2 class="title">Site web et application mobile</h2>
                    <div class="description">
                            <p>Tous nos sites internet sont au fait des applications web qui peuvent s'installer comme une application mobile native.</p>
                            <p>L'application est installable directement depuis le site web et permet avoir access à des notifications en plus de tout le contenu du site.</p>
                            <p>En tant que administrateur de votre site, l'application va vous permèttre d'être informé en tout moment des evenements qui se passent sur le site (chat, nouvelle commande...) </p>
                            <button  mat-button color="primary">En savoir plus</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-element user-experience">
            <div class="home-element-image" kiiScroll></div>
            <div class="home-element-text">
                <div class="home-element-text-container">
                    <div class="home-element-icon" kiiScroll></div>
                    <h2 class="title">Une experience utilizateur unique</h2>
                    <div class="description">
                            <p>Grâce à nôtre expertise technologique, on mets à vôtre disposition des sites qui marchent à pleine vitesse et même hors ligne. Vous ne le croyez pas ? Essayez sur ce site !</p>
                            <p></p>
                            <button  mat-button color="primary">En savoir plus</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-element site-and-app">
                <div class="home-element-image" kiiScroll></div>
                <div class="home-element-text">
                    <div class="home-element-text-container">
                        <div class="home-element-icon" kiiScroll></div>
                        <h2 class="title">Site web et application mobile</h2>
                        <div class="description">
                                <p>N'hésitez plus, disposez d'un site et d'une application mobile au meme temps</p>
                                <p>N'hésitez plus, disposez d'un site et d'une application mobile au meme temps</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="home-element site-and-app">
                <div class="home-element-image" kiiScroll></div>
                <div class="home-element-text">
                    <div class="home-element-text-container">
                        <div class="home-element-icon" kiiScroll></div>
                        <h2 class="title">Une experience utilizateur unique</h2>
                        <div class="description">
                                <p>N'hésitez plus, disposez d'un site et d'une application mobile au meme temps</p>
                                <p>N'hésitez plus, disposez d'un site et d'une application mobile au meme temps</p>
                        </div>
                    </div>
                </div>
        </div>     
        <div class="home-element site-and-app">
                <div class="home-element-image" kiiScroll></div>
                <div class="home-element-text">
                    <div class="home-element-text-container">
                        <div class="home-element-icon" kiiScroll></div>
                        <h2 class="title">Site web et application mobile</h2>
                        <div class="description">
                                <p>N'hésitez plus, disposez d'un site et d'une application mobile au meme temps</p>
                                <p>N'hésitez plus, disposez d'un site et d'une application mobile au meme temps</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="home-element site-and-app">
                <div class="home-element-image" kiiScroll></div>
                <div class="home-element-text">
                    <div class="home-element-text-container">
                        <div class="home-element-icon" kiiScroll></div>
                        <h2 class="title">Une experience utilizateur unique</h2>
                        <div class="description">
                                <p>N'hésitez plus, disposez d'un site et d'une application mobile au meme temps</p>
                                <p>N'hésitez plus, disposez d'un site et d'une application mobile au meme temps</p>
                        </div>
                    </div>
                </div>
        </div>        
 

    </div>
</div>
    <kii-article class="home-header" key="home-header"></kii-article>




