.page-prix {
    .wrapper-content {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        color:white;
    }

    .element {
        max-width:300px;
        margin-bottom:10px;
    }

    .element:nth-child(1) {
        background-image: url('/assets/images/prices-basic.svg');

    }
    .element:nth-child(2) {
        background-image: url('/assets/images/prices-intermediate.svg');
    }
    .element:nth-child(3) {
        background-image: url('/assets/images/prices-gold.svg');
    }
    .element:nth-child(4) {
        background-image: url('/assets/images/prices-ultra.svg');
    }

    .element:hover {
        cursor:auto;
        box-shadow: 0 19px 38px rgba(white,0.30), 0 15px 12px rgba(white,0.22);

    }
    ::ng-deep .element kii-article-summary .kii-article-summary-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .kii-article-summary-image-wrapper {
            width:50%;
            margin-top:15px;
            img {
                width:100%;
            }
        }
        .kii-article-summary-text {
            text-align: center;
            h1 {
                margin-top:10px;
            }
            h2 {
                text-align: center;
            }
        }
    }
    ::ng-deep .element kii-article {

        .angular-editor-wrapper {
            font-size: 18px !important;
        }
    /*   @media only screen and (max-width: 700px) { 
            .angular-editor-wrapper {
                font-size: 18px !important;
            }
        }*/

        .angular-editor-textarea {
            color:white;
            ul {
                margin:0;
                padding:0;
                list-style-position: none;
                li {
                    margin-top:3px;
                    margin-bottom:3px;
                    background: url('/assets/images/tick.svg') no-repeat 7px 3px transparent;
                    list-style-type: none;
                    margin: 0;
                    padding: 3px 0px 3px 34px;
                    vertical-align: middle;
                }
        
            }
        }
    }


    kii-article, kii-article-summary {
        width:100%;
    }
}