<div class="page-wrapper page-prix">
<kii-spinner-overlay [show]="isLoading">
    <kii-article class="page-header-first" key="price-header-first"></kii-article>
    <kii-article class="page-header-second" key="price-header-second" kiiScroll (onAppear)="animate($event)"></kii-article>

  <div *ngIf="showAnimation" class="wrapper-content"  [@pricesAnimation]="articles.length">
    <div class="element" *ngFor="let article of articles" kiiScroll >
        <kii-article-summary [hasRouterLink]="false" class="prices-summary"  [key]="article.id"></kii-article-summary>  
        <kii-article class="prices-article"  [key]="article.id"></kii-article>  
    </div>
  </div>
  <kii-article class="page-footer" key="price-footer"></kii-article>

</kii-spinner-overlay>
</div>
