.page-prix {
    .wrapper-content {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .kii-element-wrapper {
        padding:20px;
    }
}