.wrapper {
    width:100%;
    height:400px;
    min-width: 260px;
    display:flex;
}
agm-map {
    width:100%;
    height:100%;
}
.dummy {
    position:relative;
    width:100%;
    height:100%;
    background:lightgray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
img {
    width:100%;
    object-fit: contain;
}

@media only screen and (max-height: 500px) {
    .wrapper {
        height:300px;
    }
}