<kii-header [data]="{page:'login'}"></kii-header>
<kii-fill-side key="signup-side">
    <div class="kii-login-signup-content">
      <kii-article class="header" key="signup-header"></kii-article>
      <kii-passports></kii-passports>
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="expansion">
                  <i class="fas fa-sign-in-alt"></i>
              </mat-panel-title>
              <mat-panel-description>
                  {{"kiilib.login.title" | translate}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <kii-login-form    (kiiOnSubmit)="onSubmitLogin($event)"></kii-login-form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <i class="fas fa-user-plus"></i>
              </mat-panel-title>
              <mat-panel-description>
                  {{"kiilib.signup.title" | translate}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <kii-signup-form  (kiiOnSubmit)="onSubmitSignup($event)"></kii-signup-form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>  
</kii-fill-side>    
