:host {
    width:100%;
    display:block;
  }
.kii-spinner-overlay-wrapper {
    position:relative;
    width: 100%;
    height: 100%;
}
    
.kii-spinner-overlay-overlay {
    position: absolute;
    width : 100%;
    height:100%;
    z-index: 1003;
}

  