.wrapper {
    padding:15px;
    max-height: 95vh;
    overflow-y: auto;
}
.button-wrapper {
    margin-top:20px;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    margin-bottom:0px;
}