.wrapper {
    padding:15px;
    max-height: 95vh;
    overflow-y: auto;
}
.button-wrapper {
    margin-top:20px;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    margin-bottom:0px;
}

.terms1 {
    margin-left:10px;
    font-size: 14px;
}
.terms2 {
    margin-left:5px;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}
.terms2:hover {
    cursor:pointer;
}

.terms-details {
    margin-top:20px;
    width:100%;
    opacity:0;
    transition: opacity 0.8s ease-in-out;
}
.terms-details.show {
    border:1px solid;
    opacity:1;
}
