.kii-edit-wrapper {
    width:100%;
    display:flex;
    justify-content: flex-end;
    position: relative;
    top:-50px;
    left:0;
    background: transparent;
    box-sizing: border-box;
    height:0px;
    button {
        margin:10px;
    }
}
.kii-content-wrapper {
    box-sizing: border-box;
    padding:10px;
    -webkit-nbsp-mode: space;  //Important to avoid line breaks on the kii-content side
    width:100%;
    background-repeat: no-repeat; //In case background image
    background-position: 100% 100%;
    background-size: cover;
    border:2px solid red;
}
.kii-content-wrapper.is-flex {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    flex:1 1 auto;
    height:100%;
    width:100%;
    //border:1px solid cyan;
}

.kii-content-wrapper.is-v-start {
    justify-content: flex-start;
}

.kii-content-wrapper.is-v-center {
    justify-content: center;
}

.kii-content-wrapper.is-v-end {
    justify-content: flex-end;
}

.kii-content {
    display:block;
    border:2px solid blue;
}

//Editing part
.button-wrapper {
    padding:10px;
    width:100%;
    display: flex;
    justify-content: space-between;
    .button-action {
        i {
            margin-right:10px;
            font-size: 18px;
        }
    }
    button {
        margin:5px;
    }
}

angular-editor {
    width:100%;
}

::ng-deep angular-editor .angular-editor-textarea {
    min-height: 150px !important;
    padding:10px !important;
    -webkit-nbsp-mode: space;  //Important to avoid line breaks on the kii-content side
    box-sizing: border-box;
    width:100%;
    background-repeat: no-repeat; //In case background image
    background-position: 100% 100%;
    background-size: cover;
}

::ng-deep angular-editor.is-initial .angular-editor-textarea {
    opacity:0.5;
}