.kii-editor-wrapper {
    width:100%;
}


//Editing part
.kii-edit-wrapper {
    width:100%;
    display:flex;
    justify-content: flex-end;
    position: relative;
    top:-50px;
    left:0;
    background: transparent;
    box-sizing: border-box;
    height:0px;
    button {
        margin:10px;
    }
}

.button-wrapper {
    padding:10px;
    width:100%;
    .button-action {
        display: flex;
        justify-content: space-between;
        i {
            margin-right:10px;
            font-size: 18px;
        }
    }
    button {
        margin:5px;
    }
}

angular-editor {
    width:100%;
}
